<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment4_Elections</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="navbar-logo" src="~/images/usf-logo-sm.png" asp-area="" asp-controller="Home" asp-action="Index">
            </div>
            <div class="navbar-collapse collapse">
                <ul id="navbar-links" class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Candidates">Candidates</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Committees">Committees</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Filings">Filings</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container content">
        <!--  this button with javascript event on click to scroll all the way to the top of the page -->
        <button onclick="scrollToTop()" id="button-up" title="Back to top">Back to top</button>
        @RenderBody()
    </div>

    <div class="footer">
        | <span><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> 
        | <span><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></span> 
        |
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- load Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- load Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </environment>

    <script>
        // make sure we start axes at 0
        Chart.scaleService.updateScaleDefaults('linear', {
            ticks: {
                min: 0
            }
        });


        // data for the Donut Chart
        data = {
            datasets: [{
                backgroundColor: ["#0066cc", "#e60000"],
                data: [56, 44]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Democratic',
                'Republican'
            ]
        };

        // Donut Chart.js
        var myDoughnutChart = new Chart(document.getElementById("donutChart"), {
            type: 'doughnut',
            data: data,
            // Options for this Donut Chart
            options: {
                title: {
                    display: true,
                    text: 'Top 10 by Party (in % of total)'
                }
            }
        });


        // Horizontal Bar Chart
        new Chart(document.getElementById("horizontalBarChart"), {
            type: 'horizontalBar',
            data: {
                labels: [
                            "CLINTON, HILLARY [DEM]", 
                            "TRUMP, DONALD J [REP]", 
                            "SANDERS, BERNARD [DEM]", 
                            "CRUZ, RAFAEL EDWARD [REP]",
                            "CARSON, BENJAMIN [REP] ",
                            "RUBIO, MARCO [REP]",
                            "BUSH, JEB [REP]",
                            "KASICH, JOHN R [REP]",
                            "PAUL, RAND [REP]",
                            "FIORINA, CARLY [REP]"
                        ],
                datasets: [
                    {
                        label: "Total funds raised (USD)",
                        backgroundColor: [
                                            "#0066cc", 
                                            "#e60000", 
                                            "#0066cc", 
                                            "#e60000",
                                            "#e60000",
                                            "#e60000",
                                            "#e60000",
                                            "#e60000",
                                            "#e60000",
                                            "#e60000"
                                        ],
                        data: [ 
                                585699061,
                                350668435,
                                237640609, 
                                94338654,
                                65091035,
                                48331861,
                                35491191,
                                19692691,
                                12458992,
                                12211897
                            ]
                    }
                ]
                },
                options: {
                    legend: { display: false },
                    title: {
                    display: true,
                    text: 'Total Funds Raised'
                }
            }
        });


        // data for the Donut Chart
        data2008 = {
            datasets: [{
                backgroundColor: ["#0066cc", "#e60000"],
                data: [64, 36]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Democratic',
                'Republican'
            ]
        };

        // Donut Chart.js
        var myDoughnutChart = new Chart(document.getElementById("donutChart2008"), {
            type: 'doughnut',
            data: data2008,
            // Options for this Donut Chart
            options: {
                title: {
                    display: true,
                    text: 'Top 10 by Party (in % of total)'
                }
            }
        });


        // Horizontal Bar Chart
        new Chart(document.getElementById("horizontalBarChart2008"), {
            type: 'horizontalBar',
            data: {
                labels: [
                            "OBAMA, BARACK [DEM]", 
                            "MCCAIN, JOHN S. [REP]", 
                            "CLINTON, HILLARY [DEM]", 
                            "ROMNEY, MITT [REP]",
                            "GIULIANI, RUDOLPH W. [REP]",
                            "EDWARDS, JOHN [DEM]",
                            "PAUL, RON [REP]",
                            "RICHARDSON, BILL [DEM]",
                            "DODD, CHRISTOPHER J [DEM]",
                            "HUCKABEE, MIKE [REP]"
                        ],
                datasets: [
                    {
                        label: "Total funds raised (USD)",
                        backgroundColor: [
                                            "#0066cc", 
                                            "#e60000", 
                                            "#0066cc", 
                                            "#e60000",
                                            "#e60000",
                                            "#0066cc",
                                            "#e60000",
                                            "#0066cc",
                                            "#0066cc",
                                            "#e60000"
                                        ],
                        data: [ 
                                778642962,
                                401537140,
                                252235516, 
                                113659805,
                                66173879,
                                62868872,
                                35121860,
                                24852093,
                                18669473,
                                16495625
                            ]
                    }
                ]
                },
                options: {
                    legend: { display: false },
                    title: {
                    display: true,
                    text: 'Total Funds Raised'
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
