@{
    ViewData["Title"] = "About";
}
<!-- page/table title -->
<h3 class="page-header">Distributed Information Systems - Group 12</h3>

<!-- one info div per team member -->
<div class="media">
    <div class="media-left">
        <img class="intext-image-left avatar" src="../images/art.jpg">
    </div>
    <div class="media-body">
        <br>
        <h3 class="media-heading">Art Nasekailo</h3>
        Web-design (HTML and CSS). Basic JavaScript. More responisibilities to be added for Assignment 4...
    </div>
</div>
<hr/>
<!-- one info div per team member -->
<div class="media">
    <div class="media-left">
        <img class="intext-image-left avatar" src="../images/daniel.jpg" height="120" width="120">
    </div>
    <div class="media-body">
        <br>
        <h3 class="media-heading">Daniel Naguri</h3>
        Data mining. Relational database design. More responisibilities to be added for Assignment 4...
    </div>
</div>
<hr/>
<!-- one info div per team member -->
<div class="media">
    <div class="media-left">
        <img class="intext-image-left avatar" src="../images/darrell.jpg" height="120" width="120">
    </div>
    <div class="media-body">
        <br>
        <h3 class="media-heading">Darrell Williams</h3>
        Data mining, data entry. HTML code. More responisibilities to be added for Assignment 4...
    </div>
</div>
<hr/>
