@{
    ViewData["Title"] = "Index";
}

<h2>Elections Filings</h2>
<hr />

<div>
    <p>
        This is a web site that gives you the details about various candidates, committees and their Budget filings from the elections happened over the Years.
        <br />
        <br />
        The complete data about the elections can be found via  <a href="https://api.open.fec.gov/developers">Open Government Elections API </a>
    </p>
</div>