@{
    ViewData["Title"] = "Index";
}

<h3 class="page-header">Elections Filings</h3>

<div>
    <p>
        This is a web site that gives you the details about various candidates, committees and their Budget filing reports for the elections that have happened over the Years.
        <br />
        <br />
        The complete data about the elections can be found via  <a href="https://api.open.fec.gov/developers">Open Government Elections API </a>
    </p>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Top 10 fundraisers (Presidential Race 2016) </h3>
			</div>
			<div class="alert alert-info" style="margin: 16px">
				<strong>Raising summary by the numbers: </strong><br>
				Charts below show the top 10 presidential candidates in the 2016 race by the total amount of money raised during their respective campaigns, and the comparison between Democratic and Republican party.
			</div>

			<div class="panel-body" style="height: 500px">
				<canvas id="horizontalBarChart" style="width: 100%; height: 100%"></canvas>

			</div>
			<br>
			<br>
			<div class="panel-body" style="height: 500px">
				<canvas id="donutChart" style="width: 100%; height: 100%"></canvas>
			</div>
			<p class="source-credit">
				<a href="https://www.fec.gov/data/raising-bythenumbers/?election_year=2016" target="_blank">Source: www.fec.gov</a>
			</p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Top 10 fundraisers (Presidential Race 2008) </h3>
			</div>
			<div class="alert alert-info" style="margin: 16px">
				<strong>Raising summary by the numbers: </strong><br>
				Charts below show the top 10 presidential candidates in the 2008 race by the total amount of money raised during their respective campaigns, and the comparison between Democratic and Republican party.
			</div>

			<div class="panel-body" style="height: 500px">
				<canvas id="horizontalBarChart2008" style="width: 100%; height: 100%"></canvas>

			</div>
			<br>
			<br>
			<div class="panel-body" style="height: 500px">
				<canvas id="donutChart2008" style="width: 100%; height: 100%"></canvas>
			</div>
			<p class="source-credit">
				<a href="https://www.fec.gov/data/raising-bythenumbers/?election_year=2008" target="_blank">Source: www.fec.gov</a>
			</p>
		</div>
	</div>

</div>
